# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/

# Nx
.nx/

# Testing
coverage/

# Misc
*.log
.DS_Store
*.min.js
*.bundle.js

# Supabase
supabase/functions/

# Scripts
scripts/


packages/db/src/supabase-types.ts
metro.config.js
babel.config.js
tailwind.config.js
index.js

# Plugins
plugins/